



li{
    list-style-type: none;
    margin: 8px;
}

button{
    font-size: large;
    font-weight: bold;
    background-color: green;
    color: white;
    border: none;
}

button:hover{
    border-bottom: 1px solid white;
}


.navStyle {
    color: white;
    background-color: green;
}