<div class="container-fluid navStyle">
    <div class="row w-100">
        <div class="col-6 p-2 d-flex">
            <h1>Expense Manager</h1>
            <ul class="d-flex justify-content-center align-items-center m-0">
                <li>
                    <button type="button" routerLink="/home" >Home</button>
                </li>
                <li>
                    <button type="button" routerLink="/salary" >Salary Info</button>
                </li>
                <li>
                    <button type="button" routerLink="/expense">Expense Info</button>
                </li>
                <li>
                    <button type="button" routerLink="/savings">Savings</button>
                </li>
            </ul>
        </div>
        <div class="col"></div>
    </div>
</div>