<div class="commonCard m-3">
    <mat-card appearance="outlined">
        <mat-card-content>
            <h4>Salary Information</h4>
            @if(loading == true){
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            }
            @else {
              <div class="row p-2">
                <div class="col-6">
                    
                </div>  
                <div class="col-6 text-end">
                    <button type="button" class="btn" style="background-color: green; color: white;" routerLink="add" >
                        Add Salary
                    </button>
                </div>
              </div>
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                @if(this.dataSource.length == 0){
                  <tr *matNoDataRow>
                    <td class="text-center" >No Results Found..!</td>
                  </tr>
                }
                <!-- Checking -->
                <!-- Name -->
                <ng-container matColumnDef="source">
                  <th mat-header-cell *matHeaderCellDef> Salary Source </th>
                  <td mat-cell *matCellDef="let element"> {{element.salary_Source}} </td>
                </ng-container>
              
                <!-- Type -->
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef> Salary Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.salary_Type}} </td>
                </ng-container>
              
                <!-- about -->
                <ng-container matColumnDef="about">
                  <th mat-header-cell *matHeaderCellDef> About </th>
                  <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>

                <!-- Amount -->
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Salary Amount</th>
                    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                </ng-container>

                <!-- Expense -->
                <ng-container matColumnDef="expense">
                  <th mat-header-cell *matHeaderCellDef> Expense Amount</th>
                  <td mat-cell *matCellDef="let element"> {{element.salary_Expense}} </td>
                </ng-container>

                <!-- Savings -->
                <ng-container matColumnDef="savings">
                  <th mat-header-cell *matHeaderCellDef> Savings Amount</th>
                  <td mat-cell *matCellDef="let element"> {{element.salary_Savings}} </td>
              </ng-container>

                <!-- Action -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Salary Amount</th>
                  <td mat-cell *matCellDef="let element"> 
                    <button class="btn btn-danger" (click)="DeleteSalary(element.salary_Id)" >Delete</button>
                  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            }   
        </mat-card-content>
    </mat-card>
</div>