
::ng-deep mat-form-field .mat-mdc-text-field-wrapper{
    padding: 0px;
    background-color: white;
}

::ng-deep mat-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-infix{
    padding: 10px;
    font-size: medium;
    background-color: none;
}

::ng-deep p-select > span {
    font-size: 14px;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

::ng-deep p-select .p-placeholder{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}