<div class="main">
    <div class="content d-flex flex-column justify-content-center align-items-center">
        <h4 style="color: white; background-color: green; width: 100%; text-align: center; border-radius: 1rem 1rem 0 0;" class="p-4">Sign Up</h4>
        <form class="signUp">
            <mat-form-field class="w-100">
                <label>Name</label>
                <input type="text" matInput placeholder="Enter your name" >
            </mat-form-field>
            <mat-form-field class="w-100">
                <label>Email</label>
                <input type="email" matInput placeholder="Enter your email" >
            </mat-form-field>
            <mat-form-field class="w-100">
                <label>Password</label>
                <input type="password" matInput placeholder="Enter your password" >
            </mat-form-field>
        </form>
        <div class="row w-100" style="padding: 0% 5% 0% 5%;">
            <div class="col-6 p-2 w-50">
                <button type="button" class="btn btn-danger w-100">Cancel</button>
            </div>
            <div class="col-6 p-2 w-50">
                <button type="button" class="btn btn-success w-100">Sign Up</button>
            </div>
        </div>
    </div>
</div>