/* You can add global styles to this file, and also import other style files */



@use '@angular/material' as mat;

body {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//Card Stylings
:root {
  @include mat.dialog-overrides((
    container-min-width: 800px
  ));
}

:root {
  @include mat.card-overrides((
    subtitle-text-color: orange,
    outlined-outline-color: green,
  ));
}

:root {
  @include mat.progress-bar-overrides((
    active-indicator-color: green,
  ));
}

:root {
  @include mat.form-field-overrides((
      filled-container-color: none,
      filled-focus-active-indicator-color: green,
      filled-focus-label-text-color: green,
      filled-hover-active-indicator-color: green
  ));
}

.mat-mdc-text-field-wrapper, .mat-mdc-form-field-infix{
  padding: 0 !important;
}

.mat-mdc-input-element::placeholder {
  font-size: small !important;
}

.mat-mdc-text-field:not(.mdc-text-field--disabled):hover {
  background-color: transparent !important;
  box-shadow: none !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}
